


<div class="absolute-parent">
<div class="content">
  <div class="heading">
    <p id="title" >Welcome to <i>Scissors, Calculator, and a Beige Coat</i></p>
    <p>Preparations for the show are currently underway. Please return on Sunday 28 October 2018 18:00<span class="superscript">(AEST)</span></p>
  </div>
  <%= form_for(resource, as: resource_name, class: ' form-container' , url: registration_path(resource_name)) do |f| %>
    <div id="form">


      <div class="hide field">
        <%= f.label :email%><br/>
        <%= f.email_field :email  %>
      </div>

      <div class="hide field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="hide field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="podium">
        <div class="actions">
          <%= f.submit "Enter" , class: 'hide hsubmit' %>
        </div>
        <div id="username" class="field">
          <%= f.text_field :username, autofocus: true, autocomplete: "Seat Number", placeholder: "Your Seat Number", class: 'hide'%>
        </div>

      </div>
    </div>
  <% end %>
  </div>
</div>
